docker/n8n/workflows/workflow_laboratorio_notificaciones.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sample-received",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Muestra Recibida",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -496,
        528
      ],
      "id": "baeed7d4-e213-4a24-b63f-e206927ae53a",
      "typeVersion": 2.1,
      "webhookId": "24691e62-9ee3-4b2d-ba41-f03c47e20d20"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.*, u.nombres as paciente_nombres, u.apellidos as paciente_apellidos, u.email as paciente_email, u.telefono, e.razon_social FROM muestras_laboratorio m JOIN pacientes p ON m.paciente_id = p.id JOIN usuarios u ON p.usuario_id = u.id LEFT JOIN empresas e ON p.empresa_id = e.id WHERE m.id = $1",
        "options": {
          "queryReplacement": "={{ $json.body.sample_id }}"
        }
      },
      "name": "Obtener Detalles Muestra",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -256,
        528
      ],
      "id": "63d8e42b-47a1-4223-bf5d-52c5266ae089",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "jpZd2RxgtoBEbyox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "janobqr@gmai.com",
        "toEmail": "={{$json.paciente_email}}",
        "subject": "Confirmación de Recepción de Muestra",
        "emailFormat": "=html",
        "html": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Muestra Recibida</title></head><body style='font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;'>\n  <div style='background: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;'>\n    <h1 style='color: white; margin: 0;'>Muestra Recibida</h1>\n  </div>\n  <div style='background: white; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);'>\n    <h2 style='color: #333; margin-top: 0;'>Hola {{$json.paciente_nombres}},</h2>\n    <p>Hemos recibido su muestra para análisis de laboratorio.</p>\n    \n    <div style='background: #f0f9ff; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #3b82f6;'>\n      <h3 style='margin-top: 0; color: #1e40af;'>Información de la Muestra</h3>\n      <table style='width: 100%;'>\n        <tr>\n          <td style='padding: 8px 0; width: 120px; font-weight: bold;'>Código:</td>\n          <td style='padding: 8px 0;'>{{$json.codigo_muestra}}</td>\n        </tr>\n        <tr>\n          <td style='padding: 8px 0; font-weight: bold;'>Tipo:</td>\n          <td style='padding: 8px 0;'>{{$json.tipo_muestra}}</td>\n        </tr>\n        <tr>\n          <td style='padding: 8px 0; font-weight: bold;'>Fecha Recepción:</td>\n          <td style='padding: 8px 0;'>{{$json.fecha_recepcion}}</td>\n        </tr>\n        <tr>\n          <td style='padding: 8px 0; font-weight: bold;'>N° Exámenes:</td>\n          <td style='padding: 8px 0;'>{{$json.examenes_solicitados}}</td>\n        </tr>\n      </table>\n    </div>\n    \n    <div style='background: #fef3c7; padding: 15px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #d97706;'>\n      <p style='margin: 0; font-size: 14px;'>\n        <strong>Tiempo estimado de entrega:</strong> 24-48 horas hábiles.<br>\n        Los resultados estarán disponibles en su portal de paciente.\n      </p>\n    </div>\n    \n    <p style='text-align: center; margin-top: 30px;'>\n      <a href='https://saludlaboral.pe/mis-resultados' style='display: inline-block; background: #4f46e5; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;'>\n        Ver Estado de Mis Exámenes\n      </a>\n    </p>\n    \n    <hr style='border: none; border-top: 1px solid #e5e7eb; margin: 30px 0;'>\n    \n    <p style='font-size: 12px; color: #6b7280; text-align: center;'>\n      Si tiene preguntas sobre su muestra, contáctenos al (01) 123-4567<br>\n      o responda a este correo.\n    </p>\n  </div>\n</body></html>",
        "options": {}
      },
      "name": "Notificar Recepción al Paciente",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        0,
        528
      ],
      "id": "1448e592-ff18-490d-9198-e64a2a8be14f",
      "typeVersion": 2.1,
      "webhookId": "04eac6de-1909-4c84-a965-3ce6426cbc19",
      "credentials": {
        "smtp": {
          "id": "bNnD5wJ125nvx7qq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        272,
        528
      ],
      "id": "c989f405-936e-44cf-8d8d-92e8789f66e7",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Muestra Recibida": {
      "main": [
        [
          {
            "node": "Obtener Detalles Muestra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Detalles Muestra": {
      "main": [
        [
          {
            "node": "Notificar Recepción al Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Recepción al Paciente": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5054d290394b13e0f87277cad44d3d391079c0dfcab7572d689702b43244a52"
  }
}